.home__background div{
  position: absolute;
  width: 0px;
  border: 1px solid rgba(255,255,255,0.2);
}

.horizontal{
  height: 2000px;
  right: 0;
  transform-origin: top;
  transform: rotate(90deg);

  &-1{
    @include topPer(100);
  }

  &-2{
    @include topPer(199);
  }

  &-3{
    @include topPer(298);
  }

  &-4{
    @include topPer(397);
  }

  &-5{
    @include topPer(496);
  }

  &-6{
    @include topPer(595);
  }

}

.vertical{
  height: 100%;
  top: 0;

  &-1{
    @include leftPer(34);
  }

  &-2{
    @include leftPer(133);
  }

  &-3{
    @include leftPer(232);
  }

  &-4{
    @include leftPer(331);
  }
}

.diagonal{
  width: 595.63px;
  height: 1000px;
  top: 0;
  transform: rotate(-45deg);
  transform-origin: top;

  &-1{
    @include leftPer(232.5);
  }

  &-2{
    @include leftPer(34);
  }

  &-3{
    @include leftPer(-164);
  }

  &-4{
    @include leftPer(-362);
  }

  &-5{
    @include leftPer(-562);
  }
}

div.square{
  position: absolute;
  width: 25vw;
  height: 25vw;
  @include leftPer(137);
  @include topPer(183);
  transform: rotate(45deg);
  box-sizing: border-box;
}

div.circle{
  position: absolute;
  border-radius: 50%;
  transform: rotate(45deg);
  box-sizing: border-box;

  &-1{
    width: 111vw;
    height: 111vw;
    @include leftPer(-28);
    @include topPer(38);
  }

  &-2{
    width: 170vw;
    height: 170vw;
    @include leftPer(-137);
    @include topPer(-70);
  }
}
