div.container.home
  include sections/background.pug
  include sections/intro.pug
  include sections/box.pug
  include sections/dial.pug
  include sections/push.pug
  include sections/colors.pug
  include sections/history.pug
  include sections/audio.pug
  include sections/loader.pug
