<!DOCTYPE html>
<html lang="en">

<head>

  <title>Template</title>

  <!-- META -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta description="">

    <!-- CSS -->
         <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/main.min.css">

</head>

<body>
        <div class="container home__container">

            <section class="home__background">

              <div class="horizontal horizontal-1"></div>
              <div class="horizontal horizontal-2"></div>
              <div class="horizontal horizontal-3"></div>
              <div class="horizontal horizontal-4"></div>
              <div class="horizontal horizontal-5"></div>
              <div class="horizontal horizontal-6"></div>

              <div class="vertical vertical-1"></div>
              <div class="vertical vertical-2"></div>
              <div class="vertical vertical-3"></div>
              <div class="vertical vertical-4"></div>

              <div class="diagonal diagonal-1"></div>
              <div class="diagonal diagonal-2"></div>
              <div class="diagonal diagonal-3"></div>
              <div class="diagonal diagonal-4"></div>
              <div class="diagonal diagonal-5"></div>

              <div class="square"></div>

              <div class="circle circle-1"></div>
              <div class="circle circle-2"></div>

            </section>

            <section class="home-landing">

                <h1 class="home-landing__title">Royale oak offshore diver</h1>
                <img class="home-landing__image" src="assets/img/landing-clock.png" alt="Montre situé sur la page d'accueil">
                <p class="home-landing__scroll">Scroll down</p>

            </section>

            <section class="home-slider">

                <div class="home-slider__slides">
                  <img src="assets/img/slide-1.png" alt="Première image de montre du slider" class="home-slider__slide home-slider__slide-active">
                  <img src="assets/img/slide-1.png" alt="Deuxième image de montre du slider" class="home-slider__slide">
                  <img src="assets/img/slide-1.png" alt="Troisième image de montre du slider" class="home-slider__slide">
                  <img src="assets/img/slide-1.png" alt="Quatrième image de montre du slider" class="home-slider__slide">
                  <img src="assets/img/slide-1.png" alt="Cinquième image de montre du slider" class="home-slider__slide">
                </div>

                <div class="home-slider__controller">
                  <div class="home-slider__control home-slider__control-active"><div></div></div>
                  <div class="home-slider__control"><div></div></div>
                  <div class="home-slider__control"><div></div></div>
                  <div class="home-slider__control"><div></div></div>
                  <div class="home-slider__control"><div></div></div>
                </div>

                <div class="home-slider__scroll">
                  <i class="arrow arrow-up"></i>
                  <p class="home-slider__scroll-text">Boîte</p>
                </div>

                <div class="home-slider__content">
                  <div class="contain">
                    <div class="box">
                      <div class="box__title">
                        <h2>Boîte <span><i class="arrow arrow-down arrow-black"></i></span></h2>
                      </div>
                      <div class="box__description">
                        <h3 class="box__description-title">Description</h3>
                        <p>Boîte en acier inoxydable, glace et fond saphir avec traitement anti-reflets, couronnes vissées surmoulées de caoutchouc bleu.</p>
                      </div>
                      <div class="box__dimension">
                        <h3>Dimensions</h3>
                        <ul>
                          <li>Largeur de la boîte <span>42 mm</span></li>
                          <li>Épaisseur du boîtier <span>14.1 mm</span></li>
                          <li>Étanchéité <span>300 m</span></li>
                        </ul>
                      </div>
                      <div class="box__cadran">
                        <h3>Cadran</h3>
                        <p>Boîte en acier inoxydable, glace et fond saphir avec traitement anti-reflets, couronnes vissées surmoulées de caoutchouc bleu.</p>
                      </div>
                      <div class="box__band">
                        <h3>Cadran</h3>
                        <p>Boîte en acier inoxydable, glace et fond saphir avec traitement anti-reflets, couronnes vissées surmoulées de caoutchouc bleu.</p>
                      </div>
                    </div>
                  </div>
                </div>

            </section>

            <section class="home-section">

            </section>

        </div>

        <script src="assets/js/main.min.js" charset="utf-8"></script>

</body>

</html>
