html, body {
    width: 100%;
    height: 100%;
    background: $black-solid;
}

body {
  overflow-x: hidden;
}

.opacity{
  opacity: 0;
  transition: $transition;
}

.appeared{
  animation: appearing-up 1.3s ease forwards;
}

.hidden{
  opacity: 0;
}

.description{
  max-width: 77%;
  font-size: $p;
  color: $white;
  font-family: 'Avenir-Roman', sans-serif;
  line-height: 1.5;
}

.container{
  width: 100vw;
  height: 100vh;
  position: relative;
}
