@font-face {
	font-family: 'Avenir';
	src: url('/assets/fonts/Avenir-Black.eot');
	src: url('/assets/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Avenir-Black.woff') format('woff'),
		url('/assets/fonts/Avenir-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('/assets/fonts/Avenir-Oblique.eot');
	src: url('/assets/fonts/Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Avenir-Oblique.woff') format('woff'),
		url('/assets/fonts/Avenir-Oblique.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir';
	src: url('/assets/fonts/Avenir-Heavy.eot');
	src: url('/assets/fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Avenir-Heavy.woff') format('woff'),
		url('/assets/fonts/Avenir-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('/assets/fonts/Avenir-Medium.eot');
	src: url('/assets/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Avenir-Medium.woff') format('woff'),
		url('/assets/fonts/Avenir-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('/assets/fonts/Avenir-Roman.eot');
	src: url('/assets/fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Avenir-Roman.woff') format('woff'),
		url('/assets/fonts/Avenir-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
