// Colors
$black-solid: #000000;
$teak: #B99867;
$boulder: #767676;
$orange-firebush: #E39624;
$gray: #828282;
$white: #ffffff;
$gray-steel: #666666;
$aluminium: #999999;
$mikado: #403524;


$transition: all 0.8s ease;

//Layout
$container-layout: 0 13%;

$xs: 576px;
$sm: 720px;
$md: 960px;
$lg: 1140px;
$xl: 1400px;

$h1: 2.4rem;
$h2: 2rem;
$p: 0.9rem;
$li: 0.875rem;
