head
  title Royal Oak Offshore
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')
  meta(name='description' content='Issue de la nouvelle collection Funky Colour, cette Royal Oak Offshore Diver bleu foncé est vendue avec deux bracelets interchangeables en caoutchouc bleu ou jaune. Dotée de performances exceptionnelles, elle est étanche à 300 mètres et équipée d&#039;une échelle de plongée ainsi que d&#039;un réhaut tournant interne avec zone de 60 à 15 minutes jaune vif.')
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favico/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favico/manifest.json">
  <link rel="mask-icon" href="assets/img/favico/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets/img/favico/favicon.ico">
  <meta name="msapplication-config" content="assets/img/favico/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet')
  link(href='assets/css/main.min.css' rel='stylesheet')
  script(src='assets/js/main.min.js' charset='utf-8' async)
