.box{
  width: 100vw;
  height: 100vh;

  &__imageContainer{
    position: relative;
    margin-top: 5%;
    overflow: hidden;
    height: 53%;
  }

  &__image{
      position: absolute;
      left: -35%;
      max-height: 100%;

      @include responsive($xs){
        left: -15%;
      }

      @include responsive($sm){
        left: 0;
      }
  }

  &__description{
    height: 42%;
  }

  &__descriptionContainer{
    padding: $container-layout;
    height: 100%;
  }

  &__titling{

    h2{

      &:after{
        top: 120%;
      }
    }

    p{
      margin-top: 14px;
      max-width: 77%;
      font-family: 'Avenir-Roman', sans-serif;
      line-height: 1.5;
      font-size: $p;
      color: $white;
    }

  }

  &__listing{
    margin-top: 20%;
  }

  &__title{
    margin-bottom: 11px;
    color: $aluminium;
    font-family: 'Avenir', sans-serif;
    font-size: 0.875rem;
  }

  &__info{
    float: right;
    color: $white;
  }
}
