.box{
  width: 100vw;
  height: 100vh;

  @include responsive($lg){
    display: flex;
    flex-direction: column;
  }

  &__imageContainer{
    position: relative;
    margin-top: 5%;
    overflow: hidden;
    height: 53%;

    @include responsive($lg){
      display: flex;
      justify-content: center;
      order: 2;
    }
  }

  &__image{
      position: absolute;
      left: -35%;
      max-height: 100%;

      @include responsive($xs){
        left: -15%;
      }

      @include responsive($sm){
        left: 0;
      }

      @include responsive($lg){
        position: relative;
      }
  }

  &__description{
    height: 42%;
  }

  &__descriptionContainer{
    padding: $container-layout;
    height: 100%;

    @include responsive($lg){
      padding: $desktop-layout;
    }
  }

  &__headTitle{

    &:after{
      top: 120%;
    }
  }

  &__headDescription{
    margin-top: 14px;

    @include responsive($lg){
      max-width: 100%;
    }
  }

  &__listing{
    margin-top: 20%;
    padding: $container-layout;

    @include responsive($lg){
      margin-top: 0;
      order: 3;
      padding: $desktop-layout;
    }
  }

  &__title{
    margin-bottom: 11px;
    color: $aluminium;
    font-family: 'Avenir', sans-serif;
    font-size: 0.875rem;
  }

  &__titling{
    padding: $container-layout;

    @include responsive($lg){
      padding: $desktop-layout;
      order: 1;
    }
  }

  &__info{
    float: right;
    color: $white;
  }
}
