.dial{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__background{
    background-image: url('../img/cadran.png');
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
  }

  &__description{
    margin-top: auto;
    margin-bottom: 20%;
  }

  &__descriptionContainer{
    padding: $container-layout;

    h2{

      &:after{
        top: 140%;
      }
    }

    p{
      font-size: $p;
      color: $white;
      margin-top: 20px;
      max-width: 77%;
      font-family: 'Avenir-Roman', sans-serif;
      line-height: 1.15rem;
    }
  }
}
