.dial{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  &__background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../img/cadran.png');
    background-position: center;
    background-size: cover;
    opacity: 0.6;
  }

  &__description{
    margin-top: auto;
    margin-bottom: 20%;
  }

  &__descriptionContainer{
    padding: $container-layout;
  }

  &__headTitle{

    &:after{
      top: 140%;
    }
  }

  &__headDescription{
    margin-top: 20px;
  }
}
