.history{
  width: 100vw;
  height: 100vh;

  &__background{
    position: relative;
    width: 100%;
    height: 46vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/histoire.png');

    &:after{
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(0deg, rgba(0,0,0,0.7), transparent);
    }
  }

  &__descriptionContainer{
    padding: $container-layout;
  }

  &__headDescription{
    margin-top: 20px;
  }

  &__headTitle{
    &:after{
      top: 140%;
    }
  }

  &__description{
    padding-top: 2vh;
  }
}
