.push{
  width: 100vw;
  height: 100vh;

  @include responsive($lg) {
    display: flex;
    flex-direction: column;
  }

  &__imageContainer{
    padding-top: 22vh;

    @include responsive($lg) {
      position: relative;
      order: 2;
      padding: 0;
    }
  }

  &__image{
    width: 100%;

    @include responsive($lg) {
      position: absolute;
      width: 70%;
      left: calc(50% - 70%/2);
    }
  }

  &__descriptionContainer{
    padding: $container-layout;

    @include responsive($lg) {
      padding: $desktop-layout;
    }
  }

  &__headTitle{
    &:after{
      top: 140%;
    }
  }

  &__headDescription{
    margin-top: 20px;
  }

}
