.push{
  width: 100vw;
  height: 100vh;

  &__image{
    padding-top: 22vh;
  }

  &__descriptionContainer{
    padding: $container-layout;

    h2{

      &:after{
        top: 140%;
      }
    }

    p{
      margin-top: 20px;
      max-width: 77%;
      font-size: $p;
      color: $white;
      font-family: 'Avenir-Roman', sans-serif;
      line-height: 1.15rem;
    }
  }

}
