section.background
  div.background__vertical.background__vertical1
  div.background__vertical.background__vertical2
  div.background__vertical.background__vertical3
  div.background__vertical.background__vertical4
  div.background__vertical.background__vertical5
  div.background__diagonal.background__diagonal1
  div.background__diagonal.background__diagonal2
  div.background__circle.background__circle1
  div.background__circle.background__circle2
  div.background__circle.background__circle3
