section.box
  div.box__imageContainer
    img(src="assets/img/box.png").box__image.hidden
  div.box__titling
    h2.box__headTitle.underline.hidden Boîte
    p.box__headDescription.hidden.description Boîte en acier inoxydable, glace et fond saphir avec traitement anti-reflets, couronnes vissées.
  div.box__listing
    ul
      li.box__title.hidden Largeur de la boîte
        span.box__info 42 mm
      li.box__title.hidden Épaisseur du boîtier
        span.box__info 14.1 mm
      li.box__title.hidden Étanchéité
        span.box__info 300 m
