section.colors
  div.colors__controller.hidden
    div.colors__controls.colors__controls--active
      div
    div.colors__controls
      div
    div.colors__controls
      div
    div.colors__controls
      div
    div.colors__controls
      div
