section.colors
  div.colors__controller.hidden
    div.colors__controls.colors__controls--active
      div
    div.colors__controls
      div
    div.colors__controls
      div
    div.colors__controls
      div
    div.colors__controls
      div
  div.colors__images.hidden
    div.colors__imageContainer.colors__imageContainer--active
      img.colors__image(src= 'assets/img/white_dial.png')
    div.colors__imageContainer
      img.colors__image(src= 'assets/img/green_dial.png')
    div.colors__imageContainer
      img.colors__image(src= 'assets/img/blue_dial.png')
    div.colors__imageContainer
      img.colors__image(src= 'assets/img/orange_dial.png')
    div.colors__imageContainer
      img.colors__image(src= 'assets/img/yellow_dial.png')
  div.colors__diamond
    p.colors__number 1
  div.colors__texts
    div.colors__textContainer.colors__textContainer--active
      div.colors__wrapper
        span.colors__text Version
      div.colors__wrapper
        span.colors__text Blanche
    div.colors__textContainer
      div.colors__wrapper
        span.colors__text Citron
      div.colors__wrapper
        span.colors__text Vert
    div.colors__textContainer
      div.colors__wrapper
        span.colors__text Bleu
      div.colors__wrapper
        span.colors__text Foncé
    div.colors__textContainer
      div.colors__wrapper
        span.colors__text Version
      div.colors__wrapper
        span.colors__text Orange
    div.colors__textContainer
      div.colors__wrapper
        span.colors__text Version
      div.colors__wrapper
        span.colors__text Jaune
