section.colors
  div.colors__controller.hidden
    div.colors__controls.colors__controls--active
      div
    div.colors__controls
      div
    div.colors__controls
      div
    div.colors__controls
      div
    div.colors__controls
      div
  div.colors__images.hidden
    div.colors__imageContainer.colors__imageContainer--active
      img.colors__image(src= 'assets/img/cadran_blanc.png')
    div.colors__imageContainer
      img.colors__image(src= 'assets/img/cadran_vert.png')
    div.colors__imageContainer
      img.colors__image(src= 'assets/img/cadran_bleu.png')
    div.colors__imageContainer
      img.colors__image(src= 'assets/img/cadran_orange.png')
    div.colors__imageContainer
      img.colors__image(src= 'assets/img/cadran_jaune.png')
  div.colors__diamond
    p.colors__number 1
  div.colors__texts
    div.colors__textContainer.colors__textContainer--active
      div.colors__wrapper
        p.colors__text Version
      div.colors__wrapper
        p.colors__text Blanche
    div.colors__textContainer
      div.colors__wrapper
        p.colors__text Citron
      div.colors__wrapper
        p.colors__text Vert
    div.colors__textContainer
      div.colors__wrapper
        p.colors__text Bleu
      div.colors__wrapper
        p.colors__text Foncé
    div.colors__textContainer
      div.colors__wrapper
        p.colors__text Orange
      div.colors__wrapper
        p.colors__text Mandarine
    div.colors__textContainer
      div.colors__wrapper
        p.colors__text Version
      div.colors__wrapper
        p.colors__text Jaune
