section.dial
  div.dial__background
  div.dial__description
    div.dial__descriptionContainer
      h2.underline.hidden Cadran
      p.hidden Le cadran et son motif « Tapisserie » est une véritable signature pour les collections Royal Oak et Royal Oak Offshore.
