section.dial
  div.dial__background
  div.dial__description
    div.dial__descriptionContainer
      h2.dial__headTitle.underline.hidden Cadran
      p.dial__headDescription.hidden.description Le cadran et son motif « Tapisserie » est une véritable signature pour les collections Royal Oak et Royal Oak Offshore.
