section.history
  div.history__background
  div.history__description
    div.history__descriptionContainer
      h2.underline.hidden Histoire de la maison
      p.hidden Au fil des années, les horlogers Audemars Piguet n'ont cessé de repousser les frontières techniques et théoriques pour concevoir des mécanismes de plus en plus exigeants.
      p.hidden Combinant une technologie avant-gardiste et des années d’expertises, la Manufacture Audemars Piguet se distingue par son esprit pionnier et exprime son savoir-faire horloger dans des interprétations toujours plus modernes et audacieuses.
