section.push
  div.push__image
    img(src='assets/img/Poussoir.png').hidden
  div.push__description
    div.push__descriptionContainer
      h2.underline.hidden Poussoir
      p.hidden Les imposants protège-poussoirs fixés à la boîte par quatre vis renforcent la robustesse et l’allure puissante de ce chronographe technique et performant.
