section.push
  div.push__imageContainer
    img(src='assets/img/push.png').push__image.rellax
  div.push__description
    div.push__descriptionContainer
      h2.push__headTitle.underline.hidden Poussoir
      p.push__headDescription.hidden.description Les imposants protège-poussoirs fixés à la boîte par quatre vis renforcent la robustesse et l’allure puissante de ce chronographe technique et performant.
